asn1crypto==0.23.0
attrs==17.2.0
Automat==0.6.0
certifi==2017.7.27.1
cffi==1.11.1
chardet==3.0.4
constantly==15.1.0
coverage==4.4.1
cryptography==2.0.3
cssselect==1.0.1
envparse==0.2.0
flake8==3.4.1
hyperlink==17.3.1
idna==2.5
incremental==17.5.0
isort==4.2.15
lxml==4.0.0
mccabe==0.6.1
parsel==1.2.0
py==1.4.34
pyasn1==0.3.7
pyasn1-modules==0.1.4
pycodestyle==2.3.1
pycparser==2.18
PyDispatcher==2.0.5
pyflakes==1.5.0
pyOpenSSL==17.3.0
pytest==3.2.0
pytest-cov==2.5.1
queuelib==1.4.2
requests==2.18.3
requests-mock==1.3.0
rumetr-client==0.0.2
Scrapy==1.4.0
service-identity==17.0.0
simplejson==3.11.1
six==1.10.0
Twisted==17.9.0
urllib3==1.22
w3lib==1.18.0
zope.interface==4.4.3
